@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Run</h1>
    <p class="lead">Everyone wants to get in better shape without buying expensive fitness subscriptions or sports equipment. Running helps you to get in shape. Running is a sport everyone can do and all it needs a comfortable shoes and a drive to run. With Running, your fitness and concentration will improve and you'd be focused longer - which might prove positively effective on your day as better concentration means higher productivity. Also, you would start shedding a few pounds when you run and/or combine any other sport with a good, balanced diet. And most important, running late doesn't count.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>